PasswordAuthentication no
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem   sftp    /usr/lib/openssh/sftp-server

ChallengeResponseAuthentication no

AuthorizedKeysCommand /usr/bin/sss_ssh_authorizedkeys
AuthorizedKeysCommandUser root

PubkeyAuthentication yes
KerberosAuthentication no
GSSAPIAuthentication no
UsePAM yes
