[gpg]
	format = ssh
[commit]
	gpgsign = true
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[includeif "gitdir:/home/kalinka/code/"]
	path = /home/kalinka/.gitconfig-kalinkasolution
[includeif "gitdir:/home/kalinka/work/"]
	path = /home/kalinka/.gitconfig-work

[core]
	autocrlf = input
[alias]
    c = commit -m
    l = log --pretty=oneline  --graph --abbrev-commit --all
    quick = !git add . && git commit -m "sq" && git push
    amend = !git add . && git commit --amend --no-edit && git push --force
