PasswordAuthentication no
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem   sftp    /usr/lib/openssh/sftp-server

PubkeyAuthentication yes
KerberosAuthentication yes
GSSAPIAuthentication yes
UsePAM yes
ChallengeResponseAuthentication no

AuthorizedKeysFile .ssh/authorized_keys
AuthorizedKeysCommand /usr/bin/sss_ssh_authorizedkeys
AuthorizedKeysCommandUser root

